---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
/*
$link-color: #f2897b;
$masthead-link-color: #f2897b;
.list__item {
    a{
        text-decoration: none
    }
}
h1{
    color:#f2897b;
}
*/
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
